{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
